.App {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

#search-container {
  text-align: center;
}

#search-box {
  margin: 0 auto;
  width: 500px;
  
}

#search-button {
  color: white;
  background-color: red;
}

#display-container {
  text-align: left;
}


#search-results p {
  padding-left: 15px;
  padding-top: 15px;
  background-color: lightgrey;
  width: 550px;
  height: 35px;
  margin: 0 auto;
}