.person-card{
  border: 2px solid black;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(161, 212, 18);
  margin: 15px;
  
}

.person-card img{
  width: 200px;
  border: 2px solid black
}

#about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "head head head"
    "p1 p2 p3"
    ". . .";
}

#header { 
grid-area: head; 
text-align: center;
border:2px solid black ;
margin: 20px 20px;
padding: 100px ;
}

#p1 { grid-area: p1; }

#p2 { grid-area: p2; }

#p3 { grid-area: p3; }
